<div>
  <%= button_to "Add Category",  new_category_path, :class => "btn btn-primary", :method => :get, remote: true %>
</div>
<div>
  <%= button_to "New Category",  new_category_path, :class => "btn btn-primary", :method => :get, remote: true %>
</div>