<div class="page-header">
  <h1>
	 Edit Equipment
	</h1>
</div>

			<ul class="breadcrumb">
				<li>
          <%= link_to 'Home', equipment_index_path %> <span class="divider">/</span>
				</li>
        <li>
					<%= link_to 'Show', @equipment %> <span class="divider">/</span>
				</li>
				<li class="active">
					Edit Equipment
				</li>
			</ul>

<%= render 'form' %>