<div class="page-header">
  <h1>
	  Listing Sub Categories
	</h1>
</div>

<ul class="breadcrumb">
  <li class="active">
	  All Sub Categories
	</li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Sub Category</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @sub_categories.each do |sub_category| %>
      <tr>
        <td><%= link_to sub_category.name, sub_category %></td>
        <td><%= link_to @categories.find(sub_category.category_id).cat_name, category_path(@categories.find(sub_category.category_id)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub category', new_sub_category_path %>
