<div class="page-header">
  <h1>
	  Listing Categories
	</h1>
</div>

<ul class="breadcrumb">
  <li class="active">
	  All Categories
	</li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Category Description</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.cat_name, category %></td>
        <td><%= category.cat_description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "New Category",  new_category_path, :class => "btn btn-primary", :method => :get %>
