<div class="page-header">
  <h1>
	 New Category
	</h1>
</div>

<ul class="breadcrumb">
  <li>
	  <%= link_to 'Back', categories_path %> <span class="divider">/</span>
	</li>
	<li class="active">
	  New Category
	</li>
</ul>

<div class="col-md-6 column">
  <%= render 'form' %>
</div> 

<div class="col-md-6 column">
</div> 
